<div class="container mt-5">
  <!-- Title and description -->
  <div class="text-center">
    <h1>Equip</h1>
    <p>Your sports equipment rental platform.</p>
  </div>

  <!-- Search Bar -->
  <%= render partial: "shared/searchbar" %>

  <!-- Gallery -->
  <%= render partial: "shared/gallery" %>

<!-- Map -->
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>
