<div class="container my-5">
  
  <!-- Title and description -->
  <div class="text-center">
    <h1>SportRent</h1>
    <p>Your sports equipment rental platform.</p>
  </div>
  
  <!-- Search Bar -->
  <%= render partial: "shared/searchbar" %>
</div>

<!-- Gallery -->
<%= render partial: "shared/gallery" %>
