<h1>Equipment</h1>

<ol>
  <% @equipments.each do |equipment| %>
    <li><%= link_to equipment.equipmentname, equipment_path(equipment) %></li>
  <% end %>
</ol>

<%= link_to "Add new equipment!",
  new_equipment_path
%>
