<!-- Gallery -->
<section id="gallery" class="my-5">
  <div class="container">
    <div class="row">
      <% @equipments.each do |equipment| %>
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
          
          <!-- Card -->
          <%= render partial: "shared/card", locals: { equipment: equipment } %>
        </div>
      <% end %>
    </div>
  </div>
</section>