<div class="d-flex justify-content-center flex-grow-1">
    <form class="d-flex justify-content-center">

      <!-- Search field -->
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="max-width: 200px;">
      
      <!-- Submit button -->
      <button class="btn btn-outline-success" type="submit">
        <i class="fa-regular fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</div>