.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  height: auto
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: auto; /* Maintain the aspect ratio of the logo */
}

.search-field {
  display: flex;
}

.navbar .dropdown-menu {
  position: absolute;
}
